*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #91a398;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient();
    
}

h1{
    color: #070001;
    text-align: center;
    padding-bottom: 20px;
}

input{
    display: block;
    border: none;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0;
}

button{
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 2px;
    border-radius: 10px;
    transition: ease-in 0.3s;

    &:hover{
        background-color: #e9e0d1;
    }
}

div{
    text-align: center;
}